api.devguard.rancher-local.de {
	tls internal
	reverse_proxy 127.0.0.1:8080
}

devguard.rancher-local.de {
	tls internal
	reverse_proxy 127.0.0.1:3000
}

rancher-local.de {
	tls internal

	reverse_proxy https://127.0.0.1:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
